@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500');

body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	color: #f1f1f1;
	background-color: rgb(50,50,50);
}

*:focus,
*:active {
	outline: none;
}

/**
 * Typography
 */
h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	//
	font-style: italic;
	//
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3rem;
	line-height: 3.3rem;
}

h2 {
	font-size: 2rem;
	line-height: 2.2rem;
}

h3 {
	font-size: 1.5em;
	line-height: 1.5em;
	padding: 1.5em 0 0 0;
}

strong {
	font-weight: 500;
}

/**
 * ------ Components -------
 */
section {
	padding: 1em 1em;
}

.float {
	background: rgb(50,50,50);
	color: #f1f1f1;
	box-shadow: 0 0 35px 10px rgba(0,0,0,0.4);
	position: relative;
	padding: 0.5em 0;
}

.float section + section {
	padding-top: 2em;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 50px;
}

#booking li {
	padding: 0 1em;
	margin: 5px 0;
	border-radius: 3px;
}

#booking li.selected {
	color: #b2d235;
}

/* #booking li::before {
	display: inline-block;
	position: relative;
	content: '';
	width: 18px;
	height: 18px;
	border: 1px solid #777;
	border-radius: 15px;
	margin-right: 15px;
	top: 3px;
} */

#booking li:nth-child(odd) {
	background: rgb(70,70,70);
}

a {
	text-decoration: none;
	color: #74acdc;
}

a.button, button {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	padding: 0.5em 1em;
	background: #b2d235;
	color: rgb(60,60,60);
	border-radius: 2px;
}

a.button.hollow, button.hollow {
	color: #b2d235;
	border: 1px solid currentColor;
	background: none;
}

a.button:hover,
a.button:active
a.button:focus,
button:hover,
button:active,
button:focus {
	color: #88a419;
}

form label {
	font-size: 0.9em;
	line-height: 1.5em;
	font-weight: 400;
	display: block;
}

form input:focus,
form input:active {
	border-color: #b2d235;
}

form input {
	box-sizing: border-box;
	color: #f1f1f1;
	font-size: 1em;
	font-weight: 300;
	line-height: 50px;
	margin: 0 0 1em 0;
	padding: 0 1em;
	width: 100%;
	background-color: rgb(70,70,70);
	border: 1px solid rgb(70,70,70);
	border-radius: 3px;
	transition: all 0.2s ease-in-out;
}

/**
 * ------ Hero -------
 */
#hero {
	height: 500px;
	display: flex;
	justify-content: center;
  background: linear-gradient(-30deg, hsl(73, 20%, 25%), rgb(50,50,50) 70%);
	background-repeat: no-repeat;
}

#hero .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#hero #logo {
	width: 300px;
	height: 125px;
}

#hero p {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#hero p strong {
	font-weight: 600;
}

#hero a.button {
	margin-top: 1em;
}

/**
 * ------ About -------
 */
#about {
}

/**
 * ------ Room ------
 */
#room {
/* 	padding-top: 0;
	padding-bottom: 0; */
}

#room ul {
	list-style: none;
	margin-left: 0;
}

/**
 * ------ Contact ------
 */
#contact {
  background: linear-gradient(-120deg, hsl(73, 20%, 25%), rgb(50,50,50) 70%);
  background-repeat: no-repeat;
  padding: 3em 2em;
}

footer {
	height: 4em;
	width: 100%;
}

/**
 * ------ Breakpoints ------
 */

@media (min-width: 700px) {
	#hero {
		height: 700px;
	}

	#hero #logo {
		width: 600px;
		height: 250px;
	}

	p, h1, h2 {
		text-align: center;
	}
	
	section {
		display: flex;
		justify-content: center;
		padding: 2em 2em;
	}

	section .content {
		width: 40em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.narrow-content {
		width: 20em;
	}
}

@media (min-width: 1000px) {
	.narrow-content {
		width: 50em;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.date-time {
		display: flex;
	}

	.selection, .booking-form {
		width: 20em;
	}

	.selection + .selection {
		padding-left: 2em;
	}
}

section.green {
	background: #b2d235;
	color: rgb(50,50,50);
}

/**
 * Adjust height of Hero responsively
 */
// @media screen and (min-width: 64em) {
// 	#hero .hero-callout {
// 		height: calc(100vh - 56px);
// 	}
// }